doctype html
html(lang='en')
  head  
    title Blog App
    link(rel="stylesheet", href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href='/css/style.css' type='text/css')

  body
    <!-- LOGO -->
    .navbar-header
      .navbar-brend
        .navbar-brand(href="/")
          span.glyphicon.glyphicon-book.align-left BLOG
    <!-- MENU -->    
    .container
      .row
          ul.nav.nav-pills
            li.nav-item
              a.nav-link.active(href='/') Home
            li.nav-item
              a.nav-link(href='blog') Blog
            li.nav-item
              a.nav-link(href='articles') Post
            li.nav-item
              a.nav-link.disabled(href='#') Portfolio
    <!--MAIN SECTION-->     
  
     
