include includes/header.pug
.container-fluid
  h2 #{title}
    

ul
  each post, key in messages
    .row-post 
     
      li.list-group-item= username + ' ' + post.username 
       h4= post.title
       p= post.message
    <br>
    
  
  
    
    
include includes/footer.pug
